<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/dashboard/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/dashboard/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dashboard/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/dashboard/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/dashboard/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><%= currentUser.user.name %></a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">


            <% if(currentUser.role == 'admin') { %>
            <li class="dropdown">
                <a class="dropdown-toggle" id="ridersnotif" data-toggle="dropdown" href="">
                    <i class="fa fa-bicycle fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages" id="ridersnotifications">

                </ul>
            </li>
            <% } %>




            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
                    <!--<i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu dropdown-messages">-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<strong>John Smith</strong>-->
                                <!--<span class="pull-right text-muted">-->
                                        <!--<em>Yesterday</em>-->
                                    <!--</span>-->
                            <!--</div>-->
                            <!--<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend/static/dashboard.</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<strong>John Smith</strong>-->
                                <!--<span class="pull-right text-muted">-->
                                        <!--<em>Yesterday</em>-->
                                    <!--</span>-->
                            <!--</div>-->
                            <!--<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend/static/dashboard.</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<strong>John Smith</strong>-->
                                <!--<span class="pull-right text-muted">-->
                                        <!--<em>Yesterday</em>-->
                                    <!--</span>-->
                            <!--</div>-->
                            <!--<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend/static/dashboard.</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a class="text-center" href="#">-->
                            <!--<strong>Read All Messages</strong>-->
                            <!--<i class="fa fa-angle-right"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.dropdown-messages &ndash;&gt;-->
            <!--</li>-->
            <!--&lt;!&ndash; /.dropdown &ndash;&gt;-->
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
                    <!--<i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu dropdown-tasks">-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<p>-->
                                    <!--<strong>Task 1</strong>-->
                                    <!--<span class="pull-right text-muted">40% Complete</span>-->
                                <!--</p>-->
                                <!--<div class="progress progress-striped active">-->
                                    <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">-->
                                        <!--<span class="sr-only">40% Complete (success)</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<p>-->
                                    <!--<strong>Task 2</strong>-->
                                    <!--<span class="pull-right text-muted">20% Complete</span>-->
                                <!--</p>-->
                                <!--<div class="progress progress-striped active">-->
                                    <!--<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">-->
                                        <!--<span class="sr-only">20% Complete</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<p>-->
                                    <!--<strong>Task 3</strong>-->
                                    <!--<span class="pull-right text-muted">60% Complete</span>-->
                                <!--</p>-->
                                <!--<div class="progress progress-striped active">-->
                                    <!--<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">-->
                                        <!--<span class="sr-only">60% Complete (warning)</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<p>-->
                                    <!--<strong>Task 4</strong>-->
                                    <!--<span class="pull-right text-muted">80% Complete</span>-->
                                <!--</p>-->
                                <!--<div class="progress progress-striped active">-->
                                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">-->
                                        <!--<span class="sr-only">80% Complete (danger)</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a class="text-center" href="#">-->
                            <!--<strong>See All Tasks</strong>-->
                            <!--<i class="fa fa-angle-right"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.dropdown-tasks &ndash;&gt;-->
            <!--</li>-->
            <!--&lt;!&ndash; /.dropdown &ndash;&gt;-->
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
                    <!--<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu dropdown-alerts">-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<i class="fa fa-comment fa-fw"></i> New Comment-->
                                <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
                                <!--<span class="pull-right text-muted small">12 minutes ago</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<i class="fa fa-envelope fa-fw"></i> Message Sent-->
                                <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<i class="fa fa-tasks fa-fw"></i> New Task-->
                                <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
                                <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a class="text-center" href="#">-->
                            <!--<strong>See All Alerts</strong>-->
                            <!--<i class="fa fa-angle-right"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.dropdown-alerts &ndash;&gt;-->
            <!--</li>-->
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>



                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <% for(i in order) { %>
            <div class="col-lg-12 col-md-6">
                <% if((order[i].status==0 || order[i].status==50) && currentUser.role != 'rider') { %>
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9">
                                <div style="font-size: 22px;"><%= '# '+(parseInt(i)+1)  %></div>
                                <br/>
                                <div style="font-size: 16px;">Delivery To: <%= order[i].location  %></div>
                                <div style="font-size: 16px;">Cost : <%= order[i].amount  %></div>
                                <div style="font-size: 16px;">Date : <%= order[i].ts.toString().substring(0,25) %></div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left"></span>
                            <label class="-bold">
                            <% if(currentUser.role == 'admin') { %>
                                <% if(order[i].status==50) { %>


                                <form method="post" action="/confirmpayment" style="display: inline">
                                    <i class="fa fa-check" style="font-size: 20px;font-weight: bold;color: green;"></i>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="submit" name="orderid" value="<%= order[i].id %>" class="btn btn-success">Confirm Payment</button>
                                </form>
                                <% } else { %>
                                <i class="fa fa-clock-o"></i>
                                <%= 'Not Paid Yet ..!!' %>
                                <% } %>
                                <% } else { %>
                                <i class="fa fa-clock-o"></i>
                                <%= 'Complete Your Order' %>
                                <% } %>


                            </label>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <% } else if(order[i].status==1 && currentUser.role != 'rider') { %>
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9">
                                <div style="font-size: 22px;"><%= '# '+(parseInt(i)+1)  %></div>
                                <br/>
                                <div style="font-size: 16px;">Delivery To: <%= order[i].location  %></div>
                                <div style="font-size: 16px;">Cost : <%= order[i].amount  %></div>
                                <div style="font-size: 16px;">Date : <%= order[i].ts.toString().substring(0,25) %></div>
                                <div style="font-size: 16px;">OTP : <%= order[i].code %></div>
                                <% if(order[i].paymentmode==3) { %>
                                <div style="font-size: 16px;color: red;background-color: whitesmoke;width: 40%;font-weight: bold;">Status : ** Cash On Delivery **</div>
                                <% } else { %>
                                <div style="font-size: 16px;color: green;background-color: whitesmoke;width: 20%;font-weight: bold; ">Status: ** Paid **</div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel-footer">
                            <span class="pull-left"></span>
                            <label class="-bold col-6" style="display: inline;width:20%;color: #f0ad4e"> <i class="fa fa-clock-o"></i>
                            <% if(currentUser.role == 'admin' ) { %>
                                Choose Rider
                            </label>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <form method="post" style="display: inline" action="/setrider">
                                <input type="hidden" name="oid" value="<%= order[i].id %>">
                                <select class="form-control col-6" name="rid" style="display: inline;width: 35%;">
                                    <% for(j in rider) { %>
                                    <option value="<%= rider[j].id %>"><%= rider[j].name %></option>
                                    <% } %>
                                </select>

                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-warning">Assign</button>
                            </form>
                                <% } else { %>
                                Order Under Processing...
                            </label>
                            <% } %>




                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <% } else if((order[i].status==2) && (currentUser.role !='rider' || order[i].rid==currentUser.user.id)) { %>
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9">
                                <div style="font-size: 22px;"><%= '# '+(parseInt(i)+1)  %></div>
                                <br/>
                                <div style="font-size: 16px;">Delivery To: <%= order[i].location  %></div>
                                <div style="font-size: 16px;">Cost : <%= order[i].amount  %></div>
                                <div style="font-size: 16px;">Date : <%= order[i].ts.toString().substring(0,25) %></div>
                                <div style="font-size: 16px;">OTP : <%= order[i].code %></div>
                                <% if(order[i].paymentmode==3) { %>
                                <div style="font-size: 16px;color: red;background-color: whitesmoke;width: 30%;font-weight: bold;">Status : ** Cash On Delivery **</div>
                                <% } else { %>
                                <div style="font-size: 16px;color: green;background-color: whitesmoke;width: 20%;font-weight: bold; ">Status: ** Paid **</div>
                                <% } %>

                                <% if(currentUser.role =='rider'){ %>
                                <div style="font-size: 16px;font-weight: bold;color: green">Delivery Charge :&nbsp;&nbsp;<i class="fa fa-rupee"></i> <%= order[i].dcharge %></div>
                                <% } %>

                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left"></span>
                            <label class="-bold">
                                <% if(currentUser.role == 'admin' ) { %>
                                <i class="fa fa-clock-o"></i>
                                Rider: &nbsp;&nbsp;<%= order[i].rname %>
                            </label>

                            <% } else if(currentUser.role != 'rider' ) { %>
                            <i class="fa fa-clock-o"></i>
                            Order Under Processing...
                            </label>
                            <% } else { %>
                            </label>
                            <form action="/takeorder" method="post">
                                <input type="hidden" name="oid" value="<%= order[i].id %>">
                            <button type="submit" class="btn btn-success">Accept</button>
                            </form>
                            <% } %>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <% } else if(order[i].status==3) { %>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9">
                                <div style="font-size: 22px;"><%= '# '+(parseInt(i)+1)  %></div>
                                <br/>
                                <div style="font-size: 16px;">Delivery To: <%= order[i].location  %></div>
                                <div style="font-size: 16px;">Cost : <%= order[i].amount  %></div>
                                <div style="font-size: 16px;">Date : <%= order[i].ts.toString().substring(0,25) %></div>
                                <div style="font-size: 16px;">OTP : <%= order[i].code %></div>
                                <% if(order[i].paymentmode==3) { %>
                                <div style="font-size: 16px;color: red;background-color: whitesmoke;width: 30%;font-weight: bold;">Status : ** Cash On Delivery **</div>
                                <% } else { %>
                                <div style="font-size: 16px;color: green;background-color: whitesmoke;width: 20%;font-weight: bold; ">Status: ** Paid **</div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel-footer">
                            <span class="pull-left"></span>
                            <label class="-bold" style="color:#337ab7 "> <i class="fa fa-clock-o"></i>
                            <% if(currentUser.role == 'admin' ) { %>
                            Rider: &nbsp;&nbsp;<%= order[i].rname %>
                                &nbsp;&nbsp;
                                ( <%= order[i].rphone %> )
                            </label>

                            <% } else if(currentUser.role != 'rider') { %>
                            Order is On Its WAY .. !!
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Call
                            <%= order[i].rphone %> To Track
                            </label>
                            <% } else { %>
                            Enter OTP: &nbsp;
                            </label>
                            <form action="/deliver" method="post" style="display: inline;">
                                <input type="text" name="otp" value="" class="form-control" style="width: 35%;display: inline;">
                                <button type="submit" class="btn btn-primary">Confirm Delivery</button>
                            </form>
                            <% } %>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <% } else if(order[i].status==4) { %>
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9">
                                <div style="font-size: 22px;"><%= '# '+(parseInt(i)+1)  %></div>
                                <br/>
                                <div style="font-size: 16px;">Delivery To: <%= order[i].location  %></div>
                                <div style="font-size: 16px;">Cost : <%= order[i].amount  %></div>
                                <div style="font-size: 16px;">Date : <%= order[i].ts.toString().substring(0,25) %></div>
                                <div style="font-size: 16px;">OTP : <%= order[i].code %></div>
                                <% if(order[i].paymentmode==3) { %>
                                <div style="font-size: 16px;color: red;background-color: whitesmoke;width: 30%;font-weight: bold;">Status : ** Cash On Delivery **</div>
                                <% } else { %>
                                <div style="font-size: 16px;color: green;background-color: whitesmoke;width: 20%;font-weight: bold; ">Status: ** Paid **</div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left"></span>
                            <label class="-bold"> <i class="fa fa-clock-o"></i>


                            <% if(currentUser.role == 'admin' ) { %>
                            Delivered By : &nbsp;&nbsp;<%= order[i].rname %>
                            &nbsp;&nbsp;
                            ( <%= order[i].rphone %> )
                            </label>

                            <% } else { %>
                            Delivered !!</label>
                            <% } %>


                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <% } %>
            </div>
            <% } %>

        </div>

























        <!--<div class="panel-footer">-->
        <!--<div class="input-group">-->
        <!--<input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here/static/dashboard." />-->
        <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-warning btn-sm" id="btn-chat">-->
        <!--Send-->
        <!--</button>-->
        <!--</span>-->
        <!--</div>-->
        <!--</div>-->
        <!-- /.panel-footer -->
    </div>
    <!-- /.panel .chat-panel -->
</div>
<!-- /.col-lg-4 -->
</div>
<!-- /.row -->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/static/dashboard/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/dashboard/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/static/dashboard/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/static/dashboard/vendor/raphael/raphael.min.js"></script>
<script src="/static/dashboard/vendor/morrisjs/morris.min.js"></script>
<script src="/static/dashboard/data/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/dashboard/dist/js/sb-admin-2.js"></script>

<script>
    $(document).ready(function () {

    });
</script>

</body>

</html>
